* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;

}

img {
    width: 100px;
    height: 100px;
    margin-top: 20px;
}

.main-page,
.quiz-box,
.result-box {
    margin-top: 20px;
    text-align: center;
    background: linear-gradient(rgb(224, 243, 144), rgb(137, 247, 137));
    /* background-color: rgb(245, 249, 249); */
    /* box-shadow: 1px 1px 1px 1px  rgb(241, 191, 247); */
    width: 700px;
    height: 700px;
    margin: 100px 400px;
    /* border-radius: 20px; */

}

.heading {
    color: rgb(4, 81, 81);
    margin: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 40px;
}

.main-page #line {
    font-size: 20px;
    margin: 10px 0;
    color: black;
    text-shadow: 1px 1px 2px rgb(75, 73, 73);
}

form>input {
    width: 450px;
    padding: 10px;
    margin: 10px 10px;
    background-color: rgb(247, 250, 249);
    border: solid black;
    border-radius: 8px;

}

.btn {
    padding: 10px 20px;

    background-color: rgb(12, 41, 2);
    color: rgb(251, 248, 248);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover {
    background-color: rgb(46, 109, 69);
    color: white;
}

#msg {
    font-weight: lighter;
    margin: 10px;
}

#category {
    margin: 40px 50px;

    display: grid;
    grid-template-columns: repeat(3, 200px);
}

#category>button {
    padding: 10px 20px;

    margin: 16px;
    background-color: rgb(157, 235, 252);
    color: black;
    border: solid rgb(9, 54, 113);
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
    justify-content: center;

    &:hover {
        background-color: rgb(1, 30, 39);
        color: white;
    }

    transition: background-color 0.3s ease;

}

.quiz-box , .result-box{
    display: none;
    border-radius: none;

}

/* quiz box style */

header {
    display: flex;
    font-size: 20px;
    margin-top: 20px;
    justify-content: space-between;
    background-color: #113501;

}

.title {
    font-size: 30px;
    margin-left: 5px;
    color: rgb(248, 246, 246);
}

.time-left,
.question-count {

    margin: 20px;
    color: rgb(247, 245, 248);
}

main {
    margin: 40px;
    /* display: flex; */
    height: 500px;
}

section>.questions {
    padding: 20px;
    height: 100px;

}

section>.choose-options {
    padding: 20px;
    display: grid;
}

.footer {
    display: flex;
    justify-content: space-around;
    background-color:  #113501;
    padding: 15px;
    align-items: end;

}

.result-box>p {

    padding: 30px;
    color: rgb(11, 11, 11);
    text-align: center;
}

.result-box>.heading {
    color: rgb(7, 11, 13);

    padding: 30px;
}

p>span {
    margin-left: 30px;
}

.sub-name {
    margin-left: 20px;
}

.choose-options {
    display: grid;
    /* grid-template-columns: repeat(1, 400px); */
    

}
#option-btn{
    background-color: #98d6ee;
    padding: 10px;
    margin: 10px;
    align-items: center;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
  
}